@{
    ViewBag.Title = "Add Group";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
@model Proiect.Models.Group


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Groups", method: FormMethod.Post))
{

    @Html.Label("Name", "Group name")
    <br />

    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Description", "Group description")
    <br />

    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.DropDownListFor(m => m.Categ_ID, new
    SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Categ_ID, null, new { @class = "text-danger" })

    <br />
    <button class="btn btn-success" type="submit">Add Group</button>
}