@{
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    ViewBag.Title = "Edit group";
}

@model Proiect.Models.Group
<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(controllerName: "Groups", actionName: "Edit", method: FormMethod.Post,
       routeValues: new { id = Model.Group_ID }))
{
    @Html.Label("Name", "Group Name")
    <br />
    @Html.Editor("Name")

    @Html.ValidationMessageFor(m => m.Name,null, new { @class = "text-danger" })
    <br />

    <br />

    @Html.Label("Description", "Group Description")
    <br />
    @Html.Editor("Description")

    @Html.ValidationMessageFor(m => m.Description,null, new { @class = "text-danger" })
    <br />

    <br />

    <button class="btn btn-success" type="submit">Edit group</button>
}