@{
    ViewBag.Title = "List of all Groups";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />
@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}


<br />
@if (ViewBag.Groups != null){
    @foreach (var group in ViewBag.Groups)
    {
        @Html.Label("Name", "Group Name")
        <p>@group.Name</p>
        <br />
        @Html.Label("Description", "Group description")
        <p>@group.Description</p>
        <a class="btn alert-success" href="/Groups/Show/@group.Group_ID">Show Group</a>
        
        <br />
        <hr />
        <br />
    }
}


<br />
<a class="btn btn-success" href="/Groups/New">Add a new group</a>
<br />

<br /><!--De facut doar pentru admin-->
<a class="btn btn-success" href="/Categories/Index">Manager categorii</a>
<br />

